<% layout("/layouts/boilerplate") %><br /><br />

<div class="row">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <div><b><%= err.message %></b></div>
  </div>
  <br /><br />

  <div class="row">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div><%= err.stack %></div>
    </div>
  </div>
</div>
